body {
  background-color: white;
  table {
    border-collapse: collapse;
    td {
      text-align: center;
      padding: 5px 5px;
      border: 1px lightgray solid;
    }
  }
}
* {
  padding: 0;
  margin: 0;
}
