body {
  margin: 10px;
  font-size: 24px;
  text-shadow: -1px 0 2px rgb(169, 26, 22), 0 1.5px 2px rgb(169, 26, 22), 1px 0 2px rgb(169, 26, 22), 0 -1.5px 2px rgb(169, 26, 22);
  font-weight: bold;
  color: white;
}

* {
  padding: 0;
  margin: 0;
}
