.GLA {
  text-shadow: -1px 0 1.5px rgb(123, 154, 162), 0 1.5px 1.5px rgb(123, 154, 162), 1px 0 1.5px rgb(123, 154, 162),
    0 -1.5px 1.5px rgb(123, 154, 162);
}

.PGL {
  text-shadow: -1px 0 1.5px rgb(179, 137, 21), 0 1.5px 1.5px rgb(179, 137, 21), 1px 0 1.5px rgb(179, 137, 21),
    0 -1.5px 1.5px rgb(179, 137, 21);
}

.MRD {
  text-shadow: -1px 0 1.5px rgb(169, 26, 22), 0 1.5px 1.5px rgb(169, 26, 22), 1px 0 1.5px rgb(169, 26, 22),
    0 -1.5px 1.5px rgb(169, 26, 22);
}

.LNC {
  text-shadow: -1px 0 1.5px rgb(55, 82, 216), 0 1.5px 1.5px rgb(55, 82, 216), 1px 0 1.5px rgb(55, 82, 216),
    0 -1.5px 1.5px rgb(55, 82, 216);
}

.ARC {
  text-shadow: -1px 0 1.5px rgb(145, 186, 94), 0 1.5px 1.5px rgb(145, 186, 94), 1px 0 1.5px rgb(145, 186, 94),
    0 -1.5px 1.5px rgb(145, 186, 94);
}

.CNJ {
  text-shadow: -1px 0 1.5px rgb(95, 95, 95), 0 1.5px 1.5px rgb(95, 95, 95), 1px 0 1.5px rgb(95, 95, 95), 0 -1.5px 1.5px rgb(95, 95, 95);
}

.THM {
  text-shadow: -1px 0 1.5px rgb(103, 69, 152), 0 1.5px 1.5px rgb(103, 69, 152), 1px 0 1.5px rgb(103, 69, 152),
    0 -1.5px 1.5px rgb(103, 69, 152);
}

.PLD {
  text-shadow: -1px 0 1.5px rgb(123, 154, 162), 0 1.5px 1.5px rgb(123, 161, 162), 1px 0 1.5px rgb(123, 154, 162),
    0 -1.5px 1.5px rgb(123, 154, 162);
}

.MNK {
  text-shadow: -1px 0 1.5px rgb(179, 137, 21), 0 1.5px 1.5px rgb(179, 137, 21), 1px 0 1.5px rgb(179, 137, 21),
    0 -1.5px 1.5px rgb(179, 137, 21);
}

.WAR {
  text-shadow: -1px 0 1.5px rgb(169, 26, 22), 0 1.5px 1.5px rgb(169, 26, 22), 1px 0 1.5px rgb(169, 26, 22),
    0 -1.5px 1.5px rgb(169, 26, 22);
}

.DRG {
  text-shadow: -1px 0 1.5px rgb(55, 82, 216), 0 1.5px 1.5px rgb(55, 82, 216), 1px 0 1.5px rgb(55, 82, 216),
    0 -1.5px 1.5px rgb(55, 82, 216);
}

.BRD {
  text-shadow: -1px 0 1.5px rgb(145, 186, 94), 0 1.5px 1.5px rgb(145, 186, 94), 1px 0 1.5px rgb(145, 186, 94),
    0 -1.5px 1.5px rgb(145, 186, 94);
}

.WHM {
  text-shadow: -1px 0 1.5px rgb(95, 95, 95), 0 1.5px 1.5px rgb(95, 95, 95), 1px 0 1.5px rgb(95, 95, 95), 0 -1.5px 1.5px rgb(95, 95, 95);
}

.BLM {
  text-shadow: -1px 0 1.5px rgb(103, 69, 152), 0 1.5px 1.5px rgb(103, 69, 152), 1px 0 1.5px rgb(103, 69, 152),
    0 -1.5px 1.5px rgb(103, 69, 152);
}

.ACN {
  text-shadow: -1px 0 1.5px rgb(50, 103, 11), 0 1.5px 1.5px rgb(50, 103, 11), 1px 0 1.5px rgb(50, 103, 11),
    0 -1.5px 1.5px rgb(50, 103, 11);
}

.SMN {
  text-shadow: -1px 0 1.5px rgb(50, 103, 11), 0 1.5px 1.5px rgb(50, 103, 11), 1px 0 1.5px rgb(50, 103, 11),
    0 -1.5px 1.5px rgb(50, 103, 11);
}

.SCH {
  text-shadow: -1px 0 1.5px rgb(50, 48, 123), 0 1.5px 1.5px rgb(50, 48, 123), 1px 0 1.5px rgb(50, 48, 123),
    0 -1.5px 1.5px rgb(50, 48, 123);
}

.ROG {
  text-shadow: -1px 0 1.5px rgb(238, 46, 72), 0 1.5px 1.5px rgb(238, 46, 72), 1px 0 1.5px rgb(238, 46, 72),
    0 -1.5px 1.5px rgb(238, 46, 72);
}

.NIN {
  text-shadow: -1px 0 1.5px rgb(238, 46, 72), 0 1.5px 1.5px rgb(238, 46, 72), 1px 0 1.5px rgb(238, 46, 72),
    0 -1.5px 1.5px rgb(238, 46, 72);
}

.MCH {
  text-shadow: -1px 0 1.5px rgb(20, 138, 169), 0 1.5px 1.5px rgb(20, 138, 169), 1px 0 1.5px rgb(20, 138, 169),
    0 -1.5px 1.5px rgb(20, 138, 169);
}

.DRK {
  text-shadow: -1px 0 1.5px rgb(104, 37, 49), 0 1.5px 1.5px rgb(104, 37, 49), 1px 0 1.5px rgb(104, 37, 49),
    0 -1.5px 1.5px rgb(104, 37, 49);
}

.AST {
  text-shadow: -1px 0 1.5px rgb(177, 86, 28), 0 1.5px 1.5px rgb(177, 86, 28), 1px 0 1.5px rgb(177, 86, 28),
    0 -1.5px 1.5px rgb(177, 86, 28);
}

.SAM {
  text-shadow: -1px 0 1.5px rgb(228, 90, 15), 0 1.5px 1.5px rgb(228, 90, 15), 1px 0 1.5px rgb(228, 90, 15),
    0 -1.5px 1.5px rgb(228, 90, 15);
}

.RDM {
  text-shadow: -1px 0 1.5px rgb(172, 41, 151), 0 1.5px 1.5px rgb(172, 41, 151), 1px 0 1.5px rgb(172, 41, 151),
    0 -1.5px 1.5px rgb(172, 41, 151);
}

.BLU {
  text-shadow: -1px 0 1.5px rgb(24, 61, 154), 0 1.5px 1.5px rgb(24, 61, 154), 1px 0 1.5px rgb(24, 61, 154),
    0 -1.5px 1.5px rgb(24, 61, 154);
}

.GNB {
  text-shadow: -1px 0 1.5px rgb(121, 109, 48), 0 1.5px 1.5px rgb(121, 109, 48), 1px 0 1.5px rgb(121, 109, 48),
    0 -1.5px 1.5px rgb(121, 109, 48);
}

.DNC {
  text-shadow: -1px 0 1.5px rgb(139, 110, 110), 0 1.5px 1.5px rgb(139, 110, 110), 1px 0 1.5px rgb(139, 110, 110),
    0 -1.5px 1.5px rgb(139, 110, 110);
}

.RPR {
  text-shadow: -1px 0 1.5px rgb(76, 25, 76), 0 1.5px 1.5px rgb(76, 25, 76), 1px 0 1.5px rgb(76, 25, 76), 0 -1.5px 1.5px rgb(76, 25, 76);
}

.SGE {
  text-shadow: -1px 0 1.5px rgb(52, 81, 160), 0 1.5px 1.5px rgb(52, 81, 160), 1px 0 1.5px rgb(52, 81, 160),
    0 -1.5px 1.5px rgb(52, 81, 160);
}

.VPR {
  text-shadow: -1px 0 1.5px rgb(16, 114, 16), 0 1.5px 1.5px rgb(16, 114, 16), 1px 0 1.5px rgb(16, 114, 16),
    0 -1.5px 1.5px rgb(16, 114, 16);
}

.PCT {
  text-shadow: -1px 0 1.5px rgb(255, 162, 241), 0 1.5px 1.5px rgb(255, 162, 241), 1px 0 1.5px rgb(255, 162, 241),
    0 -1.5px 1.5px rgb(255, 162, 241);
}