.Tank {
  color: darkblue;
}
.Healer {
  color: darkgreen;
}
.Dps {
  color: darkred;
}
.Tank,
.Healer,
.Dps {
  padding: 0px 1px;
}

body {
  background-color: white;
  margin: 10px;
  header {
    p {
      font-weight: bold;
    }
  }
  main {
    p {
      font-weight: bold;
    }
    ul {
      margin-left: 20px;
      list-style: decimal;
    }
  }
  footer {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    .MESSAGE {
      color: black;
    }
    .POSTNAMAZU {
      color: green;
    }
    .WARN {
      color: darkmagenta;
      font-weight: bold;
    }
    .ERROR {
      font-weight: bold;
      color: red;
    }
  }
}
.tip-job {
  display: inline-block;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  margin: 0px 2px;
  padding: 2px 5px;
}
