* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑", "Microsoft Yahei UI", Lato, Arial, Helvetica, sans-serif;
  font-size: 12px;
  user-select: none;
}
html:hover {
  header {
    opacity: 1;
  }
}
body {
  overflow: hidden;
  #readMe {
    background-color: rgba(0, 0, 150, 0.2);
    height: 100vw;
    width: 100vw;
    position: fixed;
    z-index: 10;
    color: white;
    text-shadow: -1px 0 2px #000, 0 1px 2px #000, 1px 0 2px #000, 0 -1px 2px #000;
  }
  header {
    width: 100vw;
    // background-color: red;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    color: white;
    opacity: 0.2;
    article {
      cursor: pointer;
      font-size: 14px;
      display: flex;
      padding: 0px 5px;
      border-radius: 10%;
    }
    .selecting {
      // font-weight: bold;
      background-color: darkgreen;
    }
    article:hover {
      background-color: darkolivegreen;
    }
  }
  main {
    // overflow: hidden;
    margin-top: 8px;
    position: relative;
    img {
      position: absolute;
    }
    section {
      right: -99px;
      animation-iteration-count: 1;
      animation-name: fadeInRight;
      animation-timing-function: linear;
      position: absolute;
    }
    .casting {
      animation: none;
      right: 24px;
      opacity: 0.5;
    }
    .oGCD {
      > img,
      &::after {
        transform-origin: center bottom;
        transform: scale(0.75);
      }
    }
  }
}
@keyframes fadeInRight {
  from {
    right: 24px;
  }
  to {
    right: 100%;
  }
}
.icon {
  z-index: 1;
}
.icon::after {
  background: url(https://souma.diemoe.net/resources/img/frame.png) no-repeat;
  padding-left: 2px;
  width: 44px;
  height: 44px;
  // display: block;
  position: absolute;
  top: -3px;
  left: -4px;
  z-index: 2;
  content: "";
}
aside {
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  box-sizing: border-box;
  border-top: 1px solid gray;
  div {
    img {
      height: 30px;
      width: 30px;
    }
    &.icon::after {
      height: 32px !important;
      width: 32px !important;
      top: -1px;
      left: -2px;
      background-size: cover;
    }
    &.oGCD {
      transform: scale(0.75);
      transform-origin: left bottom;
      width: 23px;
    }
    // margin-left: 1px;
    // margin-top: 1px;
    display: inline-block;
    position: relative;
  }
}
