* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.anime {
  background-color: rgb(17, 114, 226);
  animation: mp 3s infinite linear;
}
html {
  border-right: 3px solid #fff;
}
body {
  overflow: hidden;
  user-select: none;
  background-color: black;
  main {
    height: 100vh;
  }
}
@keyframes mp {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
